.single-order {
    display: grid;
    grid-template-columns: 200px 1fr 150px;
    width: 100%;
    padding: 10px 100px 30px 100px;
    position: relative;
    border-bottom: 1px solid silver;

}

.single-order-parent {
    width: 88%;
    margin: 20px 0px;
    border: 1px solid silver;
    border-radius: 10px;
}

.order-parent {
    width: 100%;
    flex-direction: column;
}

.single-colored {
    padding: 20px 100px;
    width: 100%;
    background-color: rgb(218, 218, 218);
    display: flex;
    justify-content: start;
    gap: 50px;
    color: rgb(103, 103, 103);
}

.single-colored h6 {
    line-height: 12px;
    text-align: center;
}

.delivery-status {
    padding: 10px 100px;
    line-height: 10px;
}

.delivery-status h5,
.delivery-status p {
    display: inline;
}

.single-order-button {
    display: flex;
    font-size: 14px;
    flex-direction: column;
    gap: 10px;
}

.single-order-button button {
    width: 160px;
    border: 1px solid silver;
    padding: 5px 10px;
    border-radius: 7px;
}

.single-order-button button:hover {
    background-color: silver;
}

#cancel-button:hover {
    background-color: rgb(255, 0, 0);
}

.single-order div:nth-child(1) {
    padding: 0px 30px;
}

.single-order img {
    max-width: 80%;
    border-radius: 5px;

}

.single-order p {
    margin-top: 10px;
    color: blue;
}
.order-parent select{
    transform: translate(10px,-5px);
}


@media (max-width:992px){
    .single-order {
        grid-template-columns: 0.5fr 1fr 0.6fr;
        width: 100%;
        padding: 5px;
        gap:5px
    }
    
    .single-order-parent {
        width: 85%;
        margin: 10px 0px;
        border: 1px solid silver;
        border-radius: 10px;
    }
    
    .order-parent {
        width: 98%;
        margin: 1%;
        flex-direction: column;
    }
    
    .single-colored {
        padding: 10px 15px;
        background-color: rgb(218, 218, 218);
        gap: 10px;
        color: rgb(103, 103, 103);
        font-size: 12px;
    }
    
    .single-colored h6 {
        line-height: 16px;
        font-size: 12px;
        margin-bottom: 0px;
        text-align: center;
    }
    .delivery-status h5{
        font-size: 15px;
    }
    .delivery-status {
        padding: 10px 10px;
        font-size: 13px;
    }
    
    .single-order div{
        font-size: 14px;
    }
    .single-order div h5{
        font-size: 14px;
    }
    
    .single-order-button {
        display: flex;
        flex-direction: column;
        gap: 10px;
    }
    
    .single-order-button button {
        width: 90%;
        padding: 7px 10px;
        font-size: 12px;
        line-height: 12px;
        border-radius: 5px;
    }
    
    .single-order div:nth-child(1) {
        padding: 0px 10px;
    }
    
    .single-order img {
        max-width: 80%;
        border-radius: 5px;
        margin-bottom: 15px;
    
    }
    
    .single-order p {
        margin-top: 10px;
        color: blue;
    }
    .order-parent select{
        transform: translate(10px,-5px);
        font-size: 15px;
        padding: 5px;
    }
    .order-parent div:first-child{
        font-size: 12px;
    }
}
@media (max-width:576px) {
    .single-order {
        grid-template-columns: 0.5fr 1fr 0.7fr;
        width: 100%;
        padding: 5px;
        gap:5px
    }
    
    .single-order-parent {
        width: 94%;
        margin: 10px 0px;
        border: 1px solid silver;
        border-radius: 10px;
    }
    
    .order-parent {
        width: 98%;
        margin: 1%;
        flex-direction: column;
    }
    
    .single-colored {
        padding: 10px 5px;
        background-color: rgb(218, 218, 218);
        gap: 10px;
        color: rgb(103, 103, 103);
        font-size: 12px;
    }
    
    .single-colored h6 {
        line-height: 12px;
        font-size: 10px;
        margin-bottom: 0px;
        text-align: center;
    }
    .delivery-status h5{
        font-size: 13px;
    }
    .delivery-status {
        padding: 10px 10px;
        font-size: 13px;
    }
    
    .single-order div{
        font-size: 12px;
    }
    .single-order div h5{
        font-size: 14px;
    }
    
    .single-order-button {
        display: flex;
        flex-direction: column;
        gap: 5px;
    }
    
    .single-order-button button {
        width: 100%;
        padding: 3px 5px;
        font-size: 10px;
        line-height: 10px;
        border-radius: 3px;
        border: 1px solid silver;
    }
    
    .single-order div:nth-child(1) {
        padding: 0px 5px;
    }
    
    .single-order img {
        max-width: 80%;
        border-radius: 5px;
        margin-bottom: 5px;
    
    }
    
    .single-order p {
        margin-top: 10px;
        color: blue;
    }
    .order-parent select{
        transform: translate(10px,-5px);
        font-size: 12px;
        padding: 5px;
    }
    .order-parent div:first-child{
        font-size: 12px;
    }
    .order-delivery-address{
        visibility: hidden;
        font-size: 0;
    }
}