.Q-logo {
    width: 100px;

}

.login-pop-up {
    background-color: rgba(0, 0, 0, 0.411);
    flex-direction: column;
    backdrop-filter: blur(10px);
    position: fixed;
    right: 0;
    left: 0;
    top: 0;
    bottom: 0;
    z-index: 5;
}

.login-pop-up div {
    flex-direction: column;
    position: relative;
    width: 50%;
    padding: 50px 10px;
    background-color: white;
    border-radius: 10px;
}

.close-login {
    position: absolute;
    right: 15px;
    top: 15px;
    cursor: pointer;
}

p.your-account{
    visibility: hidden;
    background-color: rgba(128, 128, 128, 0.43);
    padding: 3px 5px;
    backdrop-filter: blur(10px);
    transform: translate(19px,8px);
    border-radius: 4px;
    text-align: center;
    font-size: 12px;
    width: 80px;
    margin: 0;
    opacity: 0.6;
}
.header-account:hover p.your-account{
    visibility: visible;
}

@media (max-width:992px) {
    .display-hide{
       display: none;
    }
    .header-parent{
        font-size: 15px;
    }
}
@media (max-width:576px) {
    .header-parent{
        font-size: 12px;
    }
    .login-pop-up div {
        width: 95%;
        padding: 30px 10px;
    }
    .footer-parent{
        font-size: 12px;
    }
    .footer-parent h5{
        font-size: 16px;
    }
}
