.cart-product-parent{
    display: grid;
    grid-template-columns: 50px 1fr 150px;
    margin: 10px 90px;
    position: relative;
}
.cart-product-parent section{
    display: grid;
    grid-template-columns: 70px 1fr;
    cursor: pointer;
    font-weight: 500;
}
.cart-product-parent img{
    width: 50px;
    margin: 0px 5px;
}
.cart-product-parent input{
    width: 20px;
    height: 20px;
    margin: auto;
}
#cart-total{
    font-size: 20px;
    margin-left: 90px;
    font-weight: bold;
}
#cart-delete{
    position: absolute;
    right: 10px;
    top:30%;
    cursor: pointer;
}
.cart-login-warning{
    margin-top: 50px;
    margin-bottom: 65vh;
}
.cart-parent{
    min-height: 65vh;
}
@media (max-width:992px){
    .cart-product-parent{
        grid-template-columns: 50px 1fr 120px;
        margin: 10px 60px;
        font-size: 14px;
    }
    .cart-product-parent section{
        grid-template-columns: 70px 1fr;
    }
    .cart-product-parent img{
        width: 60px;
        margin: 0px 5px;
    }
    .cart-product-parent input{
        width: 17px;
        height: 17px;
    }
    #cart-total{
        font-size: 16px;
        margin-left: 60px;
    }
    #cart-delete{
        right: 2px;
        top:7%;
        width: 17px;
    }
    #qty-update{
        width: 18px;
        padding: 2px;
    }
    .cart-login-warning{
        margin-top: 30px;
    }

    .cart-parent button{
        font-size: 12px;
        padding: 5px 7px;
    }  
}
@media (max-width:576px) {
    .cart-product-parent{
        grid-template-columns: 30px 1fr 100px;
        margin: 10px 10px;
        font-size: 12px;
    }
    .cart-product-parent section{
        grid-template-columns: 70px 1fr;
        font-weight: 500;
    }
    .cart-product-parent img{
        width: 50px;
        margin: 0px 5px;
    }
    .cart-product-parent input{
        width: 15px;
        height: 15px;
    }
    #cart-total{
        font-size: 14px;
        margin-left: 20px;
    }
    #cart-delete{
        right: 2px;
        top:10%;
        width: 17px;
    }
    #qty-update{
        width: 16px;
        padding: 2px;
    }
    .cart-login-warning{
        margin-top: 30px;
        margin-bottom: 65vh;
    }
    .cart-parent{
        min-height: 65vh;
    }  
    .cart-parent button{
        font-size: 12px;
        padding: 5px 7px;
    }  
}