.track-info-parent {
    margin: 20px 100px;
    font-family: Arial, sans-serif;
    display: flex;
}

.track-info-parent {
    width: 100%;
    max-width: 300px;
}

.track-info-parent h3 {
    text-align: center;
    color: #333;
    margin-bottom: 20px;
}

.tracking-container {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.tracking-item {
    display: flex;
    align-items: center;
    margin-bottom: 40px;
}

.tracking-point {
    width: 20px;
    height: 20px;
    border-radius: 50%;
    background-color: #ccc;
    position: relative;
    margin-right: 20px;
}

.tracking-point.active {
    background-color: #007bff;
}

.tracking-point::after {
    content: '';
    position: absolute;
    top: 100%;
    left: 50%;
    transform: translateX(-50%);
    width: 4px;
    height: 45px;
    background-color: #ccc;
}

.tracking-item:last-child .tracking-point::after {
    display: none;
}

.tracking-point.active::after {
    background-color: #007bff;
}

.tracking-point:last-child::after {
    display: none;
}

.tracking-label {
    font-size: 14px;
    color: #333;
    font-style: italic;
}

@media (max-width:992px){
}
@media (max-width:576px) {
    .track-info-parent {
        margin: 20px 20px;
        font-family: Arial, sans-serif;
        display: flex;
    }
    .tracking-label {
        font-size: 12px;
    }  
    .track-info-parent h5{
        font-size: 15px;
    }
    .track-info-parent h3{
        font-size: 16px;
    }
}