/* ELECTRONICS SLIDER */

.electronics-slider {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    margin: 15px;
    padding: 20px;
}

.electronics-slider>div {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.electronics-slider>div::-webkit-scrollbar {
    display: none;
}

.electronics-scroller {
    border: 1px solid silver;
    height: 100%;
    width: 220px;
    border-radius: 7px;
    padding-bottom: 10px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.electronics-scroller img {
    height: 200px;
    width: 200px;
    border-radius: 7px;
    margin: 10px;
}

.electronics-scroller p,
.electronics-scroller h6 {
    margin: 0;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

#not-link {
    text-decoration: none;
    color: #212529bf;
}

.carousel-inner img,
.carousel-inner {
    width: 100%;
    height: 280px;
}

div.phone-ad-background {
    display: flex;
    justify-content: center;
    align-items: center;
    height: 500px;
}

.phone-ad-background {
    border-radius: 10px;
}

/* Large Device */
@media (max-width:992px) {
    .electronics-slider {
        background-color: white;
        border-radius: 5px;
        height: 100%;
        margin: 7px;
        padding: 10px;
    }

    .electronics-slider>div {
        display: flex;
        gap: 7px;
        overflow-x: scroll;
    }

    .electronics-scroller img {
        height: 130px;
        width: 130px;
        border-radius: 3px;
        margin: 5px;
    }

    .electronics-scroller {
        width: 150px;
        padding: 0px 5px;
        padding-bottom: 5px;


    }

    .electronics-scroller p {
        font-size: 12px;
    }

    .carousel-inner img,
    .carousel-inner {
        width: 100%;
        height: 150px;
    }

    .ad-slider-parent button {
        width: 20px;
        margin: 10px;
    }

    #carousel-indicators-button {
        width: 10px;
        transform: translateY(30px);
    }

    .electronics-slider h4 {
        font-size: 16px;
    }

    div.phone-ad-background {

        height: 300px;
    }

    .phone-ad-background {
        border-radius: 5px;
    }
}

/*media*/
@media (max-width:576px) {
    .electronics-slider {
        background-color: white;
        border-radius: 5px;
        height: 100%;
        margin: 7px;
        padding: 10px;
    }

    .electronics-slider>div {
        display: flex;
        gap: 7px;
        overflow-x: scroll;
    }

    div.phone-ad-background {

        height: 200px;
    }

    .electronics-scroller img {
        height: 60px;
        width: 60px;
        border-radius: 3px;
        margin: 5px;
    }

    .electronics-scroller {
        width: 80px;
        padding: 0px 5px;
        padding-bottom: 5px;


    }

    .electronics-scroller p {
        font-size: 12px;
    }

    .carousel-inner img,
    .carousel-inner {
        width: 100%;
        height: 100px;
    }

    .ad-slider-parent button {
        width: 20px;
        margin: 10px;
    }

    #carousel-indicators-button {
        width: 10px;
        transform: translateY(30px);
    }

    .electronics-slider h4 {
        font-size: 16px;
    }

    .phone-ad-parent a,
    .phone-ad-parent h3 {
        font-size: 14px;
    }

    .phone-ad-parent h1 {
        font-size: 25px;
    }

    .phone-ad-background {
        border-radius: 0px;
    }
}