/* ELECTRONICS SLIDER */

.electronics-slider {
    background-color: white;
    border-radius: 10px;
    height: 100%;
    margin: 15px;
    padding: 20px;
}

.electronics-slider>div {
    display: flex;
    gap: 20px;
    overflow-x: scroll;
}

.electronics-slider>div::-webkit-scrollbar {
    display: none;
}

.electronics-scroller {
    border: 1px solid silver;
    height: 100%;
    width: 250px;
    border-radius: 7px;
    padding-bottom: 10px;
    overflow: hidden;
    transition: 0.5s ease-in-out;
}

.electronics-scroller img {
    height: 230px;
    width: 230px;
    border-radius: 7px;
    margin: 10px;
}

.electronics-scroller p,
.electronics-scroller h6 {
    margin: 0;
    text-align: center;
}

.center {
    display: flex;
    justify-content: center;
    align-items: center;
}

/*media*/
@media (max-width:576px) {
    .electronics-slider {
        background-color: white;
        border-radius: 5px;
        height: 100%;
        margin: 7px;
        padding: 10px;
    }

    .electronics-slider>div {
        display: flex;
        gap: 7px;
        overflow-x: scroll;
    }

    .electronics-scroller img {
        height: 60px;
        width: 60px;
        border-radius: 3px;
        margin: 5px;
    }

    .electronics-scroller {
        width: 80px;
        padding: 0px 5px;
        padding-bottom: 5px;


    }

    .electronics-scroller p {
        font-size: 12px;
    }

    .carousel-inner img,
    .carousel-inner {
        width: 100%;
        height: 100px;
    }

    .ad-slider-parent button {
        width: 20px;
        margin: 10px;
    }

    #carousel-indicators-button {
        width: 10px;
        transform: translateY(30px);
    }
    .electronics-slider h4{
        font-size: 16px;
    }
}