.products-on-category{
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap:10px;
    margin: 0px 50px;
}
.products-on-category-single{
    transition: 0.2s ease-in-out;
    border-radius: 7px;
    display: flex;
    margin: 10px;
    padding: 20px 20px;
    cursor: pointer;
    position: relative;
}
.products-on-category-single:hover{
    box-shadow: 1px 1px 3px silver,-1px -1px 3px silver;
    transform: scale(1.02);
}
.products-on-category-single div{
    margin-left: 10px;
    margin-right: 20px;

}
.products-on-category-single img{
    border-radius: 7px;
}
.products-on-category-single div h5{
    margin-bottom: 10px;
}
.products-buttons{
    position: absolute;
    bottom: 20px;
}
.products-on-category-single div h6{
    margin-bottom: 50px;
}
.products-buttons button{
    border-radius: 5px;
    background-color: gold;
    margin-right: 30px;
 padding: 7px 15px;
 transition: 0.1s ease-in-out;

}
.products-buttons button:hover{
    background-color:rgb(255, 225, 56) ;
    box-shadow: 1px 1px 3px rgba(0, 0, 0, 0.211),-1px -1px 3px rgba(0, 0, 0, 0.211);
}