body{
  margin: 0;
  background-color: #f8f9fa;
}
*{
  box-sizing: border-box;
}
table,th,td{
  border: 1px solid;
  height: 50px;
  padding: 10px;
  text-align: center;
}
table{
  width: 90%;
  margin: 5%;
}
@media (max-width:676px){
  table,th,th{
    font-size: 12px;
    padding: 2px;
  }
  table{
    width: 98%;
    margin: 1%;
  }
}