.buying-parent {
    margin: 10px 100px;
}

.delivery-product {
    width: fit-content;
    border: 3px solid gold;
    padding: 20px;
    border-radius: 10px;
    margin: 30px 0px;
    width: 300px;
    position: relative;
}

.delivery-product img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: 10px;

}

.delivery-table {
    width: 100%;
}

.delivery-table th,
.delivery-table td,
.delivery-table {
    border: none;
    text-align: start;
    padding: 0px;
    margin: 0;
    overflow: hidden;
}

.delivery-product-total {
    bottom: 10px;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    overflow: hidden;
}

.delivery-product-total div {
    align-items: center;
    display: flex;
}

.buying-parent input {
    cursor: pointer;
}