.buying-parent {
    margin: 10px 100px;
}

.delivery-product {
    width: fit-content;
    border: 3px solid gold;
    padding: 20px;
    border-radius: 10px;
    margin: 30px 0px;
    width: 300px;
    position: relative;
}

.delivery-product img {
    width: 200px;
    height: 200px;
    object-fit: contain;
    border-radius: 4px;
    margin-bottom: 10px;

}

.delivery-table {
    width: 100%;
}

.delivery-table th,
.delivery-table td,
.delivery-table {
    border: none;
    text-align: start;
    padding: 0px;
    margin: 0;
    overflow: hidden;
}

.delivery-product-total {
    bottom: 10px;
    display: flex;
    justify-content: end;
    margin-right: 20px;
    overflow: hidden;
}

.delivery-product-total div {
    align-items: center;
    display: flex;
}

.buying-parent input {
    cursor: pointer;
}
.single-address div{
    width: 25%;  
}
.payment-method-parent.single-address{
    display: flex;
    align-items: center;
    max-width: 250px;
    padding: 10px;
    margin-bottom: 20px;
}
.payment-method-parent.single-address p{
margin: 0;
}
.payment-method-parent .payment-method{
    width: 25px;
}
@media (max-width:992px){
}
@media (max-width:576px) {
    .buying-parent {
        margin: 10px 20px;
    }
    
    .delivery-product {
        width: fit-content;
        border: 3px solid gold;
        padding: 10px;
        border-radius: 10px;
        margin: 5px 0px;
        max-width: 250px;
        position: relative;
    }
    
    .delivery-product img {
        width: 200px;
        height: 200px;
        object-fit: contain;
        border-radius: 4px;
        margin-bottom: 10px;
    
    }
    
    .delivery-table {
        width: 100%;
    }
    
    .delivery-table th,
    .delivery-table td,
    .delivery-table {
        border: none;
        text-align: start;
        padding: 0px;
        margin: 0;
        overflow: hidden;
    }
    .delivery-table td{
        height: fit-content;
    }
    .delivery-product-total {
        margin-top: 10px;
        display: flex;
        justify-content: end;
        margin-right: 20px;
        overflow: hidden;
    }
    
    .delivery-product-total div h6{
        font-size: 14px;
    }
    .delivery-product-total div h2{
        font-size: 15px;
    }
    .buying-total-price{
        margin-top: 10px;
    }
    .buying-total-price h3,.buying-parent h2{
        font-size: 20px;
    }
    .payment-method-parent.single-address{
        display: flex;
        align-items: center;
        max-width: 200px;
        padding: 10px;
    }
    .payment-method-parent .payment-method{
        width: 25px;
    }
    .payment-method-parent.single-address p{
        margin: 0;
        font-size: 15px;
    }
    .buying-parent h4{
        font-size: 18px;
    }
    .address-parent h4{
        font-size: 20px;
    }
}