.single-product-details {
  margin: 50px 100px;
  flex-direction: column;
  gap: 20px;
  align-items: start;
}

.single-product-details>div:nth-child(1) {
  margin-left: 50%;
  margin-bottom: 20px;
  transform: translateX(-50%);

}

.single-product-details img {
  width: 100%;
  max-height: 100vh;
  border-radius: 10px;
}
@media (max-width:992px){
}
@media (max-width:576px) {
  .single-product-details {
    margin: 50px 20px;
    gap: 10px;
    font-size: 12px;
  }
  .single-product-details p{
    margin-bottom: 5px;
  }
  .single-product-details h3{
    font-size: 17px;
  }
  .single-product-details h4{
    font-size: 18px;
    margin-top: 15px;
  }
  .single-product-details>div:nth-child(1) {
    margin-left: 50%;
    margin-bottom: 10px;
  
  }
  
}